.muse{
    width: 100%;
    height: 52px;
    background-color: #313949;
    position: relative;
    z-index: 4;
}
.iconsvg{
    background-image: url(../images/icon.svg)!important;
}
.lefticon{
    background-position: -146px -223px!important;
    width: 14px;
    height: 11px;
    display: inline-block;
    position: absolute;
    top: 20px!important;
    left: 8px;
    cursor: pointer;
}
.active{
    background:rgba(255, 255, 255, .2);
}
.biaoqian{
    width: 110px;
    height: 130px;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 4px;
    display: none;
}
#jiantou{
    height: 20px;
    position: relative;
}
.biaoqian .jiantou{
    box-shadow: -1px -1px 0 0 #d6d6d6;
    top: -2px;
    left: 6px;;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    transform: rotate(45deg);
}
.biaoqian .yeqian{
    margin-left: 15px;
}
.biaoqian ul{
    padding-top: 5px;
}
.biaoqian ul li{
    font-size: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background: #f5f5f5;
}
.visite{
    background: transparent url(../images/icon.svg) no-repeat -283px -34px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 6px;
    width: 12px;
    height: 8px;
    cursor: default;
}
.admins{
    width: 110px;
    margin: 10px auto;
    text-align: center;
    color: #2C7BD0;
    font-size: 15px;
}
.admins span{
    cursor: pointer;
}
#chageurl{
    padding-left: 35px;
    width: 55%;
    height: 52px;
    float: left;
}
.chageurl li{
    float: left;
    line-height: 52px;
    color: #eee;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-align: center;
    height: 52px;
}
.chageurl li:nth-child(1),.chageurl li:nth-child(2),.chageurl li:nth-child(4),.chageurl li:nth-child(5),.chageurl li:nth-child(7){
    width: 56.81px;
}
.chageurl li:nth-child(3){
    width: 73.2px;
}
.chageurl li:nth-child(6){
    width: 155.2px;
}
.chageurl li:nth-child(8){
    width: 89.61px;
}
.chageurl li:nth-child(9){
    width: 64px;
}
.chageurl li i.more{
    position: relative;
    color: #fff;
    display: inline-block!important;
    width: 18px;
    background: url(../images/icon.svg) no-repeat -48px -124px!important;
    height: 52px;
    opacity: .8;
    vertical-align: middle;
}
.addmd{
    width: 250px;
    height: 160px;
    background: white;
    position: absolute;
    top: 52px;
    left: 640px;
    display: none;
}
.addmd .jiantou{
    box-shadow: -1px -1px 0 0 #d6d6d6;
    top: -6px;
    left: 17px;;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    transform: rotate(45deg);
}
.addmoudle{
    padding-top: 10px;
}
.addmoudle span{
    padding: 10px 23px;
    display: inline-block;
    
}
.addmoudle .addicon{
    display:inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/icon.svg) no-repeat 0 -671px;;
}
.addmoudle span a{
    padding-left: 5px;
    color: #2C7BD0;
}
.jianyi{
    background:#f5f5f5;
    border-top: 1px solid #eaeaea;
    height: 110px;
}
.jianyi span{
    font-size: 12px;
    padding: 0 23px;
    color: #666;
    display: block;
    height: 35px;
    line-height: 40px;
}
.jianyi ul li{
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    height: 34px;
    line-height: 34px;
    position: relative;
    font-size: 15px;
}
.jianyi ul li a{
    padding:  0 23px;
}
.jianyi ul li:hover{
    background: #eaeaea;
}
.jianyi ul li:hover i{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 11px;
    height: 11px;
    background: url(../images/icon.svg) no-repeat -275px -1640px;
}
.user{
    width: 43%;
    
    position: relative;
}
.ab{
    position: absolute;
    right: 0;
    top:0;
}
.user .banben{
    width: 80px;
    height: 42px;
    text-align: right;
    position: relative;
    float: left;
}
.user .banben span{
    color: #ccc;
    font-size: 12px;
}
.user .banben a{
    font-size: 12px;
    color: #208aed;
}
.shu{
    border-right: 2px solid #5f646e;
    position: absolute;
    height: 25px;
    right: -8px;
    top: 11px;
    width: 0;
}
.usericon{
   width: 201px;
   height: 52px;
   float: left; 
   margin-left: 20px;
   position: relative;
   line-height: 52px;
}
.usericon .kuang{
    width: 256px;
    height: 28px;
    background: white;
    position: absolute;
    top: 13px;
    right: 185px;
    border-radius: 15px;
    display: none;
}
.usericon .kuang input{
    position: absolute;
    top: 2px;
    left: 20px;
    height: 20px;
    width: 200px;
    border: none;
}
.ss{
    background: url(../images/icon.svg) no-repeat;
    background-position:  0 0!important;
    width: 19px;
    height: 19px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 3px;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 11px;
    height: 11px;
    background: url(../images/icon.svg) no-repeat -275px -1640px;
}
.usericon a{
    background: url(../images/icon.svg) no-repeat;
    height: 52px;
    opacity: .8;
}
.usericon .add{
    width: 96px;
    height: auto;
    font-size: 13px;
    position: absolute;
    top: 52px;
    background: white;
    left: 23px;
    display:none;
}
.usericon .add ul li{
    width: 96px;
    height: 28px;
    line-height: 28px;
    z-index: 3;
}
.usericon .add ul li:hover{
    background: #ccc;
}
.usericon .add ul li span{
    text-align: left;
    margin-right: 5px;
    padding-left:18px;
}
.add .jiantou{
    box-shadow: -1px -1px 0 0 #d6d6d6;
    top: -6px;
    left: 2px;;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    transform: rotate(45deg);
    z-index: 1;
}
.usericon a:hover{
    opacity: 1;
}
.usericon .sousuo{
    background-position: -147px -66px!important;
    width: 19px;
    height: 19px;
    display: inline-block;
}
.usericon .tianjia{
    background-position: -180px -66px!important;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.usericon .rili{
    margin-left: 10px;
    margin-top: 2px;
    background-position: -244px -66px!important;
    width: 18px;
    height: 20px;
    display: inline-block;
}
.usericon .setting{
    background-position: -275px -67px;
    width: 22px;
    height: 21px;
    margin-left: 20px;
    display: inline-block;
}
/* .usericon div{
    width: 33px;
    height: 33px;
    float: left;
} */
.usericon img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    position: absolute;
    top: 8px;
    right: 10px;
}
#iframe{
    width: 100%;
    height: 800px;
    overflow:scroll;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: #f5f5f5;
}
.footer .leftbox{
    width: 261px;
    height: 100%;
    float: left;
    font-size: 13px;
    line-height: normal;
    background: inherit;
    box-shadow: 2px 4px 11px 0px;
}
.footer .lt{
    font-size: 24px;
    width: 126px;
    height: 28px;
    cursor: pointer;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    position: relative;
    vertical-align: top;
    color: #b2b2b2;
}
.footer .icon:hover{
    color: #208aed;
}
.footer .lxr{
    color: #b2b2b2;
    width: 126px;
    height: 28px;
    cursor: pointer;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    position: relative;
    vertical-align: top;
}
.footer .centerbox{
    width: 210px;
    height: 28px;
    padding-left: 261px;
}
.footer .centerbox span{
    padding: 6px 0 6px 10px;
    cursor: pointer;
    line-height: 28px;
    color: #b2b2b2;
    font-size: 12px;
    width: 190px;
    height: 28px;
}
.footer .rightbox{
    position: absolute;
    width: 184px;
    height: 28px;
    top: 0;
    right: 0;
}
.footer .rightbox ul li{
    width: 45px;
    height: 28px;
    border-left: 1px solid black;
    float:left;
    cursor: pointer;
}
.footer .rightbox ul li:nth-child(1) span{
    background: url(../images/icon2.svg) no-repeat -5px -24px;
    width: 12px;
    top: 8px;
    bottom: 0;
    left: 15px;
    position: absolute;
    display: inline-block;
    margin:7 auto!important;
    box-sizing: initial!important;
}
.footer .rightbox ul li:nth-child(2) span{
    background: url(../images/icon.svg) no-repeat -231px -2390px;
    width: 17px;
    height: 12px;
    top: 0;
    right:51px;
    bottom: 0;
    left: 10px;
    margin: auto;
    position: absolute;
    display: inline-block;
}
.footer .rightbox ul li:nth-child(3) span{
    background: url(../images/icon.svg) no-repeat -195px -4px;
    height: 26px;
    width: 30px;
    margin-top: 2px!important;
    display: inline-block;
    margin-left: 7px;
}
.footer .rightbox ul li:nth-child(4) span{
    background: url(../images/icon.svg) no-repeat -170px -3px;
    width: 30px;
    height: 26px;
    margin-left: 5px;
    display: inline-block;
}
.yqfather{
    position:relative;
    width: 550px;
    margin: 0 auto;
    display: none;
    opacity: 0;
    transition: 500ms;
}
.yqfather .yqbox{
    width: 550px;
    height: 524px;
    background: white;
    z-index: 5;
    position: absolute;
    top: -52px;
}
.yqfather .yqbox .top-box{
    padding: 20px 30px 16px;
    background-color: #f0f1f3;
    border-bottom: 1px solid #ccc;
    font-size: 25px;
    position: relative;
}
.yqfather .yqbox .top-box .closed{
    display: block;
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 1;
    background: url(../images/icon.svg) no-repeat -206px -571px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.yqfather .yqbox .foot-box{
    padding: 30px;
    max-height: 400px;
    overflow: auto;
    width: 490px;
    height: 317px;
    font-size: 20px;
}
.yqfather .yqbox tr{
    width: 392px;
    height: 31px;
}
.yqfather .yqbox tr:nth-child(2){
    width: 392px;
    height: 240px;
}
.yqfather .yqbox tr td:nth-child(1){
    padding-bottom: 6px;
    vertical-align: top;
    width: 35%;
    color: #666;
}
.yqfather .yqbox tr td:nth-child(2){
    width: 232px;
}
.yqfather .yqbox tbody tr:nth-child(1){
    border-bottom: 1px solid #eaeaea;
}
.yqfather .yqbox .foot-box .contentss td{
    padding-top: 20px;
}
.yqfather .yqbox .foot-box .contentss td:nth-child(2){
    width: 232px;
    height: 20px;
}
.yqfather .yqbox .foot-box .contentss td:nth-child(2) ul{
    width: 232px;
    height: 230px;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.yqfather .yqbox .foot-box .contentss td:nth-child(2) ul li{
    width: 202px;
    height: 20px;
    line-height: 25px;
    padding: 0 0 3px 20px;
    font-size: 16px;
}
.contentss td:nth-child(2) ul li label{
    width: 14px;
    height: 20px;
    position: relative;
}
.contentss td:nth-child(2) ul li label input{
    width: 14px;
    height: 14px;
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 10;
}
.contentss td:nth-child(2) ul li label span{
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../images/icon.svg) -55px -588px no-repeat ;
    
}
.contentss td:nth-child(2) ul li:nth-child(1) label span{
    background-position: -3px -959px!important;
}
.btns{
    padding: 20px 30px;
    background-color: #fff;
    text-align: right;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    transition: .5s all ease;
    width: 200px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.btns input{
    border-radius: 2px;
    font-size: 17px;
    padding: 5px 20px;
    margin-right: 8px;
    font-family: "ProximaNovaRegular",sans-serif;
    background: transparent;
    cursor: pointer;
    outline: none;
}
.btn1{
    color: black;
}
.btn2{
    background: #42a2eb!important;
    color: white;
}
.yqzufather{
    position:relative;
    width: 550px;
    margin: 0 auto;
    display: none;
    opacity: 0;
    transition: 500ms;
}
.yqzufather .yqzu{
    width: 555px;
    height: 360px;
    background: white;
    z-index: 5;
    position: absolute;
    top: -52px;
}
.yqzufather .yqzu .top-box{
    padding: 20px 30px 16px;
    background-color: #f0f1f3;
    border-bottom: 1px solid #ccc;
    font-size: 25px;
    position: relative;
}
.yqzufather .yqzu .top-box .closed1{
    display: block;
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 1;
    background: url(../images/icon.svg) no-repeat -206px -571px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.yqzufather .yqzu .foot-box{
    height: 300px;
    padding: 30px;
    max-height: 400px;
    overflow: auto;
}
.yqzufather .yqzu .foot-box input{
    position: absolute;
    right: 10px;
    top: 20px;
    color: #fff;
    background: #42a2eb url(../images/icon.svg) no-repeat -308px -1848px!important;
    padding-left: 30px!important;
    border: 1px solid transparent;
    display: inline-block;
    width:125x;
    height: 34px;
    padding:5.74px 30px;
    text-align: right;
    cursor: pointer;
}
.yeqianzu{
    color: #bbb;
    width: 495px;
    height: 24px;
    text-align:center;
    margin-top: 30px;
    border-top: 1px solid #eaeaea;
    padding:25px 0;
    border-bottom: 1px solid #eaeaea;
}
.userfile{
    width: 297px;
    height: 445px;
    position: absolute;
    background: white;
    top: 52px;
    right: 0;
    display: none;
}
.userfile .user-top{
    width: 275px;
    height: 85px;
    margin:15px 15px 5px 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}
.userfile .user-top .top-content{
    padding:0 10px 0 10px; 
}
.userfile .user-top a{
    color: #208aed;
    line-height: 30px;
}
.userfile .user-con{
    width: 275px;
    height: 85px;
    margin:15px 15px 5px 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}
.userfile .user-con .con-content{
    padding:0 10px 0 10px; 
}
.userfile .user-help{
    width: 275px;
    height: 150px;
    margin:15px 15px 5px 15px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}
.userfile .user-help .help-content{
    padding:0 10px 0 10px; 
}
.userfile .user-help .help-content p{
    line-height: 40px;
}
.user-foot{
    width: 295px;
    height: 40px;
    font-size: 15px;
    background: #f4f4f4;
    position: absolute;
    bottom: 0;
}
.user-foot p{
    padding: 10px 0 10px 30px;
    font-size:13px;
    display: inline-block;
}
.user-foot p .huawei{
    background: url(../images/huawei.png) no-repeat;
    width: 15px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 80px;
}
.user-foot p .iphone{
    background: url(../images/icon.svg) -259px -2338px no-repeat;
    width: 15px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 110px;
}
.bigcon{
    width: 1000px;
    height: 550px;
    top: 25%;
    left:25%;
    background-color: white;
    z-index: 99;
    border-radius: 3px;
    position: fixed;
    text-align: left;
    display: none;
    opacity: 0;
    transition: 500ms;
}
.bigcon .big-top{
    width: 1000px;
    height: 107px;
    line-height: 107px;
    padding-left: 30px;
}
.bigcon .big-top .sous{
    width: 34px;
    height: 28px;
    display: inline-block;
    background: url(../images/sousuo.png) no-repeat;
}
.bigcon .big-top input{
    width: 360px;
    height: 107px;
    border: none;
}
.bigcon .big-top .closed{
    display: block;
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 1;
    background: url(../images/icon.svg) no-repeat -206px -571px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.big-bottom{
    width: 974px;
    margin: 0 auto;
}
.big-bottom .let{
    width: 487px;
    height: 414px;
    float: left;
}
.big-bottom .let span{
    margin-left: 20px;
    border-bottom:1px solid #007fbb ; 
}
.big-bottom .let p{
    padding-top: 20px;
    margin: 0 auto ;
    width: 400px;
}
.big-bottom .let p.centers{
    text-align: center;
}
.ltlxr{
    width: 261px;
    height: 375px;
    position: absolute;
    bottom: 28px;
    left: 0;
    background: white;
    border-radius: 10px 10px 0 0;
}
.ltlxr .topbox{
    width: 261px;
    height: 50px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}
.ltlxr .topbox img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.ltlxr .topbox .username{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 70%;
    font-size: 13px;
    text-align: left;
    z-index: 10;
    position: absolute;
    top: 7px;
    left: 50px;
}
.ltlxr .topbox .suoxiao{
    float: right;
    color: #797979;
    cursor: pointer;
    font-size: 10px;
    margin-right: 2px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    line-height: 20px;
    display: inline-block;
}
.ltlxr .topbox input{
    color: #999;
    display: inline-block;
    font-size: 12px;
    width: 70%;
    height: 17px;
    cursor: pointer;
    border: none;
    margin-left: 6px;
}
.ltlxr .topbox .ltimg{
    background: url(../images/liaotian.png) no-repeat;
    margin-right: 2px;
    width: 15px;
    height: 16px;
    position: absolute;
    bottom: 5px;
    right: 2px;
    display: inline-block;
    cursor: pointer;
}
.ltlxr .conbox{
    width: 261px;
    height: 31px;
    border-bottom: solid 1px #eaeaea;
    line-height: 31px;
}
.ltlxr .conbox .sousuo{
    width: 15px;
    height: 16px;
    display: inline-block;
    background: url(../images/sousuo1.png) no-repeat;
    margin-left: 5px;
}
.ltlxr .conbox input{
    border: none;
    font-size: 13px;
    width: 70%;
    height: 28px;
}
.ltlxr .conbox span{
    cursor: pointer;
}
.ltlxr .footbox{
    width: 261px;
    height: 242px;
}
.ltlxr .footbox .imgcon{
    background: url(../images/icons.png) -89px -637px no-repeat;
    margin-top: 50px;
    height: 90px;
    width: 90px;
    position: relative;
    left: 30%;
}
.ltlxr .footbox .fontcon{
    width: 91%;
    height: 78px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #aaa;
    margin: 5px auto;
}
.footbox .fontcon span:hover{
    color: #208aed;
}
#ltlxr{
    display: none;
}
#ltlxr1{
    display: none;
}
.zias{
    position: relative;
}
.ziacon{
    background-color: #fff;
    position: absolute;
    width: 337px;
    max-height: initial!important;
    transition: 500ms all;
    opacity: 0;
    bottom: 28px;
    z-index: 312;
    right: -92px;
    height: 861px;
    display:none;
}
.ziacon .ziatop{
    width: 322px;
    height: 25px;
    padding-right: 20px;
    margin: 20px 0 0 20px;
}
.ziacon .ziatop #logo{
    background: url(../images/icon.svg) no-repeat;
    background-position: -191px -2387px;
    width: 32px;
    height: 25px;
    display: inline-block;
}
.ziacon .ziatop #sousuo{
    position: absolute;
    right: 10px;
    color: #b2b2b2;
}
.ziacon .zia-con{
    margin-top: 30px;
    margin-left: 15px;
    background-color: rgba(30,199,134,0.1);
    font-size: 14px;
    border: 1px solid #1ec786;
    width: calc(80%);
    text-align: center;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}
.hdcon{
    position: absolute;
    right: 0;
    bottom: 28px;
    width: 345px;
    background: #fff;
    z-index: 312;
    height: 109px;
    display: none;
    transition: 500ms;
}
.hdcon .hdtop{
    background: #f56d6d;
    padding: 10px 15px;
    width: 315px;
    height: 28px;
}
.hdcon .hdtop .hdlogo{
    background: url(../images/icon.svg) no-repeat -198px -33px;
    height: 26px;
    width: 30px;
    display: inline-block;
    margin-top: 2px;
}
.hdcon .hdtop .tx{
    height: 28px;
    position: absolute;
    top: 10px;
    display: inline-block;
}
.hdcon .hdtop .closeds{
    position: absolute;
    top: 6px;
    right: 10px;
}
.hdcon .hd-con{
    line-height: 61px;
    padding-left: 15px;
    cursor:text;
}