.muse{
    width: 100%;
    height: 52px;
    background-color: #313949;
    position: relative;
    z-index: 16;
}
.iconsvg{
    background-image: url(../images/icon.svg)!important;
}
.lefticon{
    background-position: -146px -223px!important;
    width: 14px;
    height: 11px;
    display: inline-block;
    position: absolute;
    top: 20px!important;
    left: 8px;
}
.active{
    background:rgba(255, 255, 255, .2);
}
.biaoqian{
    width: 110px;
    height: 130px;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 4px;
    display: none;
}
#jiantou{
    height: 20px;
    position: relative;
}
.biaoqian .jiantou{
    box-shadow: -1px -1px 0 0 #d6d6d6;
    top: -2px;
    left: 6px;;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    transform: rotate(45deg);
}
.biaoqian .yeqian{
    margin-left: 15px;
}
.biaoqian ul{
    padding-top: 5px;
}
.biaoqian ul li{
    font-size: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.visite{
    background: transparent url(../images/icon.svg) no-repeat -283px -34px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 6px;
    width: 12px;
    height: 8px;
    cursor: default;
}
.admins{
    width: 110px;
    margin: 10px auto;
    text-align: center;
    color: #2C7BD0;
    font-size: 15px;
}
.admins span{
    cursor: pointer;
}
#chageurl{
    padding-left: 35px;
    width: 55%;
    height: 52px;
    float: left;
}
.chageurl li{
    float: left;
    line-height: 52px;
    color: #eee;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-align: center;
}
.chageurl li:nth-child(1),.chageurl li:nth-child(2),.chageurl li:nth-child(4),.chageurl li:nth-child(5),.chageurl li:nth-child(7){
    width: 56.81px;
}
.chageurl li:nth-child(3){
    width: 73.2px;
}
.chageurl li:nth-child(6){
    width: 155.2px;
}
.chageurl li:nth-child(8){
    width: 89.61px;
}
.chageurl li:nth-child(9){
    width: 64px;
}
.chageurl li i.more{
    position: relative;
    color: #fff;
    display: inline-block!important;
    width: 18px;
    background: url(../images/icon.svg) no-repeat -48px -124px!important;
    height: 52px;
    opacity: .8;
    vertical-align: middle;
}
.addmd{
    width: 250px;
    height: 160px;
    background: white;
    position: absolute;
    top: 52px;
    left: 640px;
    display: none;
}
.addmd .jiantou{
    box-shadow: -1px -1px 0 0 #d6d6d6;
    top: -6px;
    left: 17px;;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    transform: rotate(45deg);
}
.addmoudle{
    padding-top: 10px;
}
.addmoudle span{
    padding: 10px 23px;
    display: inline-block;
    
}
.addmoudle .addicon{
    display:inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/icon.svg) no-repeat 0 -671px;;
}
.addmoudle span a{
    padding-left: 5px;
    color: #2C7BD0;
}
.jianyi{
    background:#f5f5f5;
    border-top: 1px solid #eaeaea;
    height: 110px;
}
.jianyi span{
    font-size: 12px;
    padding: 0 23px;
    color: #666;
    display: block;
    height: 35px;
    line-height: 40px;
}
.jianyi ul li{
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    height: 34px;
    line-height: 34px;
    position: relative;
}
.jianyi ul li a{
    padding:  0 23px;
}
.jianyi ul li:hover{
    background: #eaeaea;
}
.jianyi ul li:hover i{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 11px;
    height: 11px;
    background: url(../images/icon.svg) no-repeat -275px -1640px;
}
.user{
    width: 43%;
    
    position: relative;
}
.ab{
    position: absolute;
    right: 0;
    top:0;
}
.user .banben{
    width: 80px;
    height: 42px;
    text-align: right;
    position: relative;
    float: left;
}
.user .banben span{
    color: #ccc;
    font-size: 12px;
}
.user .banben a{
    font-size: 12px;
    color: #208aed;
}
.shu{
    border-right: 2px solid #5f646e;
    position: absolute;
    height: 25px;
    right: -8px;
    top: 11px;
    width: 0;
}
.usericon{
   width: 201px;
   height: 52px;
   float: left; 
   margin-left: 20px;
   position: relative;
   line-height: 52px;
}
.usericon a{
    background: url(../images/icon.svg) no-repeat;
    height: 52px;
    opacity: .8;
}
.usericon a:hover{
    opacity: 1;
}
.usericon a:nth-child(1){
    background-position: -147px -66px!important;
    width: 19px;
    height: 19px;
    display: inline-block;
}
.usericon a:nth-child(2){
    background-position: -180px -66px!important;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.usericon a:nth-child(3){
    margin-left: 10px;
    margin-top: 2px;
    background-position: -244px -66px!important;
    width: 18px;
    height: 20px;
    display: inline-block;
}
.usericon a:nth-child(4){
    background-position: -275px -67px;
    width: 22px;
    height: 21px;
    margin-left: 20px;
    display: inline-block;
}
.usericon div{
    width: 33px;
    height: 33px;
    float: left;
}
.usericon img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    position: absolute;
    top: 8px;
    right: 10px;
}
#iframe{
    width: 100%;
    height: 800px;
    overflow:scroll;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: #f5f5f5;
}
.footer .leftbox{
    width: 261px;
    height: 100%;
    float: left;
    font-size: 13px;
    line-height: normal;
    background: inherit;
    box-shadow: 2px 4px 11px 0px;
}
.footer .lt{
    font-size: 24px;
    width: 126px;
    height: 28px;
    cursor: pointer;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    position: relative;
    vertical-align: top;
    color: #b2b2b2;
}
.footer .lt:hover{
    color: #208aed;
}
.footer .lxr{
    color: #b2b2b2;
    width: 126px;
    height: 28px;
    cursor: pointer;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    position: relative;
    vertical-align: top;
}
.footer .lxr:hover{
    color: #208aed;
}
.footer .conbox{
    width: 190px;
    height: 28px;
    padding-left: 261px;
}
.footer .conbox span{
    padding: 6px 0 6px 10px;
    cursor: pointer;
    line-height: 28px;
    color: #b2b2b2;
    font-size: 12px;
    width: 190px;
    height: 28px;
}
.footer .rightbox{
    position: absolute;
    width: 184px;
    height: 28px;
    top: 0;
    right: 0;
}
.footer .rightbox ul li{
    width: 45px;
    height: 28px;
    border-left: 1px solid black;
    float:left;
}
.footer .rightbox ul li:nth-child(1) span{
    background: url(../images/icon2.svg) no-repeat -5px -24px;
    width: 12px;
    top: 8px;
    bottom: 0;
    left: 15px;
    position: absolute;
    display: inline-block;
    margin:7 auto!important;
    box-sizing: initial!important;
}
.footer .rightbox ul li:nth-child(2) span{
    background: url(../images/icon.svg) no-repeat -231px -2390px;
    width: 17px;
    height: 12px;
    top: 0;
    right:51px;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    display: inline-block;
}
.footer .rightbox ul li:nth-child(3) span{
    background: url(../images/icon.svg) no-repeat -195px -4px;
    height: 26px;
    width: 30px;
    margin-top: 2px!important;
    display: inline-block;
    margin-left: 7px;
}
.footer .rightbox ul li:nth-child(4) span{
    background: url(../images/icon.svg) no-repeat -170px -3px;
    width: 30px;
    height: 26px;
    margin-left: 5px;
    display: inline-block;
}
