.tableContent .jiaoyi{
    color: #2C7BD0;
    font-size: 16.4px;
}
.tableContent .jine{
    min-width: 170px;
    max-width: 170px;
    font-size:15.2356px;
    color: rgb(17, 17, 17);
}
.tableContent .jieduan{
    font-size:16.4px;
    color: rgb(17, 17, 17);
}
.tableContent .yujiyime{
    font-size:16.4px;
    color: rgb(17, 17, 17);
}
.tableContent .kehuming{
    font-size:16.4px;
    color: #2C7BD0;
.tableContent .jiaoyisuoyou{
    font-size:16.4px;
    color: rgb(17, 17, 17);
}
