<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/anslysis.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="center_left">
        <div class="center_top">
            <span>仪表板</span>
            <a href="#"></a>
        </div>
        <div class="soure">
            <input type="text" placeholder="搜索">
        </div>
        <div class="list">
            <ul>
                <li><a href="#">收藏</a></li>
                <li><a href="#">机构概览</a></li>
                <li><a href="#">线索分析</a></li>
                <li><a href="#">交易透视</a></li>
                <li><a href="#">任务、通话及活动统计</a></li>
                <li><a href="#">销售指标</a></li>
                <li><a href="#">销售趋势</a></li>
                <li><a href="#">销售跟进趋势</a></li>
            </ul>
        </div>
        <div class="delect">
            <i></i>
            <span>最近删除的</span>
        </div>
    </div>
    <div class="center_right">
        <div class="ctr_top">
            <div class="ctr_tit"><h2>机构概览</h2></div>
            <div class="ctr_sor">
                <div id="ctr_one">
                    <a href="#" class="a1"><i></i></a>
                    <input type="button" value="添加组建">
                    <a href="#" class="a2"></a>
                </div>
                <a href="#" id="ctr_two">
                    <span></span>
                </a>
            </div>
        </div>
        <div class="ctr_bot">
            <div class="xiansuo">
                <div class="one">
                    <div class="top">
                        <span>本月的线索</span>
                    </div>
                    <div class="bot">
                        <span class="ten">10</span>
                        <span class="jiao"></span>
                        <span class="hud">100%</span>
                        <p>上月:0</p>
                    </div>
                </div>
                <div class="two">
                    <div class="top">
                        <span>本月收入</span>
                    </div>
                    <div class="bot">
                        <span>没有可用数据</span>
                    </div>
                </div>
                <div class="three">
                    <div class="top">
                        <span>管道中的商机</span>
                    </div>
                    <div class="bot">
                        <span>10</span>
                    </div>
                </div>
                <div class="four">
                    <div class="top">
                        <span>本月的客户</span>
                    </div>
                    <div class="bot">
                        <span class="ten">100%</span>
                        <span class="hud">10</span>
                        <p>上月:0</p>
                    </div>
                </div>
            </div>
            <div class="shuliang">
                <div class="one">
                    <div class="top">
                        <span>线索数量目标 - 本年</span>
                    </div>
                    <div class="bot">
                        <span>没有可用数据</span>
                    </div>
                </div>
                <div class="two">
                    <div class="top">
                        <span>收入目标 - 本年</span>
                    </div>
                    <div class="bot">
                        <span>没有可用数据</span>
                    </div>
                </div>
            </div>
            <div class="jixiao">
                <div class="one">
                    <div class="top">
                        <span>最近3月绩效监测</span>
                    </div>
                    <div class="bot">
                        <ul class="ul1">
                            <li></li>
                            <li><span>创建的线索</span></li>
                            <li><span>创建的商机</span></li>
                            <li><span>赢得的商机</span></li>
                            <li><span>赢得的收入</span></li>
                            <li><span>未关单的金额</span></li>
                        </ul>
                        <ul class="ul2">
                            <li><span>December 2018</span></li>
                            <li><span>10</span></li>
                            <li><span>10</span></li>
                            <li><span>0</span></li>
                            <li><span>0</span></li>
                            <li><span>¥320.000.00</span></li>
                        </ul>
                    </div>
                </div>
                <div class="two">
                    <div class="top">
                        <span>线索 - 来源</span>
                    </div>
                    <div class="bot">
                        <span>没有可用数据</span>
                    </div>
                </div>
                <div class="three">
                    <div class="top">
                        <span>销售代表业绩排行</span>
                    </div>
                    <div class="bot">
                        <span>没有可用数据</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js"></script>
    <script src="../js/anslysis.js"></script>
</body>
</html>