<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户</title>
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="../css/rybCommon.css"> -->
</head>

<body>
    <div class="ryb_box">
        <div class="ryb_box_top_nav">
            <div class="ryb_top_nav_left">
                <span class="ryb_top_nav_left_one" id="rybNavOne">所有客户<i></i></span>
                <div class="ryb_floatL">
                    <span class="ryb_smalledit">编辑</span>
                    <span class='ryb_nav_img'></span>
                </div>
                <div class="ryb_boxShadowContain" id="rybBoxShadowContain">
                    <span class='ryb_boxShadowContain_top'>
                        分享给我的
                    </span>
                    <ul>
                        <a href="#">
                            <li><i></i>所有客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>我的客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>上周新建</li>
                        </a>
                        <a href="#">
                            <li><i></i>本周新建</li>
                        </a>
                        <a href="#">
                            <li><i></i>最近创建的客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>最近修改的客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>未读的客户</li>
                        </a>
                    </ul>
                    <span class='ryb_boxShadowContain_bottom'>+新建视图</span>
                </div>
            </div>
            <div class="ryb_top_nav_right">
                <span class="rybTopNavRight_img1 img active">

                </span>
                <span class="rybTopNavRight_img2 img"></span>
                <span class="rybTopNavRight_img3 img">
                    <span class="rybTopNavRight_img31"></span>
                    <span class="rybTopNavRight_img32"></span>
                </span>
                <span class="rybTopNavRight_daoru" style="margin-left:20px;">
                    <button></button>
                    <input type="button" value="导入" class='newwhitebtn' id="rybTopNavDaoru">
                    <div class="ryb_boxShadowMask" id="rybBoxShadowMask">
                        <ul>
                            <li><a href="#">导入交易</a></li>
                            <li><a href="#">导入备注</a></li>
                        </ul>
                    </div>
                </span>
                <span class="rybTopNavRight_sandian" style="margin-left:20px;">
                    <a href="#" id="rybclick"></a>
                    <div id="rybbian">
                        <ul>
                            <li style="margin-top:10px;" class="xuan">
                                批量删除
                            </li>
                            <li class="xuan">
                                批量更新
                            </li>
                            <li class="xuan">
                                管理标签
                            </li>
                            <li class="xuan">
                                群发邮件
                            </li>
                            <li class="gang">

                            </li>
                            <li class="xuan">
                                Zoho Sheet视图
                            </li>
                            <li class="xuan">
                                打印预览
                            </li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
        <div class="ryb_content">
            <div class="ryb_contentForm" id="rybContentForm">
                <div class="ryb_searchIcon">
                    <span>过滤客户通过</span>
                    <i></i>
                </div>
                <ul>
                    <li>
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1">
                            受影响的记录
                        </label>
                        <div class="ryb_facet" style="height:40px;">
                            通过<select name="" id="">
                                <option value="">用户和系统</option>
                                <option value="">用户或系统</option>
                                <option value="">用户</option>
                                <option value="">系统</option>
                                <option value="">仅用户</option>
                                <option value="">仅系统</option>
                            </select>
                            <div class="List_bottom">
                                <select name="" id="" class="active">
                                    <option value="">在最近</option>
                                    <option value="">今天</option>
                                    <option value="">本周</option>
                                    <option value="">本月</option>
                                    <option value="">今年</option>
                                    <option value="">在过去30天</option>
                                    <option value="">在过去60天</option>
                                    <option value="">在过去90天</option>
                                    <option value="">再到现在</option>
                                </select>
                                <input type="text" value="2">
                                <select name="" id="" class="time">
                                    <option value="">天</option>
                                    <option value="">周</option>
                                    <option value="">月</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox2">
                        <label for="checkbox2">未受影响的记录 </label>
                        <div class="ryb_facet" style="height:40px;">
                            通过<select name="" id="">
                                <option value="">用户和系统</option>
                                <option value="">用户或系统</option>
                                <option value="">用户</option>
                                <option value="">系统</option>
                                <option value="">仅用户</option>
                                <option value="">仅系统</option>
                            </select>
                            <div class="List_bottom">
                                <select name="" id="" class="active">
                                    <option value="">在最近</option>
                                    <option value="">今天</option>
                                    <option value="">本周</option>
                                    <option value="">本月</option>
                                    <option value="">今年</option>
                                    <option value="">在过去30天</option>
                                    <option value="">在过去60天</option>
                                    <option value="">在过去90天</option>
                                    <option value="">再到现在</option>
                                </select>
                                <input type="text" value="2">
                                <select name="" id="" class="time">
                                    <option value="">天</option>
                                    <option value="">周</option>
                                    <option value="">月</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox3">
                        <label for="checkbox3">记录操作 </label>
                        <div class="ryb_facet">
                            <select name="" id="" style="display:block;margin-bottom: 4px;">
                                <option value="">已修改</option>
                                <option value="">未修改</option>
                            </select>
                            通过<select name="" id="">
                                <option value="">用户和系统</option>
                                <option value="">用户或系统</option>
                                <option value="">用户</option>
                                <option value="">系统</option>
                                <option value="">仅用户</option>
                                <option value="">仅系统</option>
                            </select>
                            <div class="List_bottom">
                                <select name="" id="" class="active">
                                    <option value="">在最近</option>
                                    <option value="">今天</option>
                                    <option value="">本周</option>
                                    <option value="">本月</option>
                                    <option value="">今年</option>
                                    <option value="">在过去30天</option>
                                    <option value="">在过去60天</option>
                                    <option value="">在过去90天</option>
                                    <option value="">再到现在</option>
                                </select>
                                <input type="text" value="2">
                                <select name="" id="" class="time">
                                    <option value="">天</option>
                                    <option value="">周</option>
                                    <option value="">月</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox4">
                        <label for="checkbox4">相关的操作记录 </label>
                        <div class="ryb_facet">
                            <select name="" id="" style="display:block;margin-bottom: 4px;">
                                <option value="">完成</option>
                                <option value="">尚未完成</option>
                            </select>
                            通过<select name="" id="">
                                <option value="">用户和系统</option>
                                <option value="">用户或系统</option>
                                <option value="">用户</option>
                                <option value="">系统</option>
                                <option value="">仅用户</option>
                                <option value="">仅系统</option>
                            </select>
                            <div class="List_bottom">
                                <select name="" id="" class="active">
                                    <option value="">在最近</option>
                                    <option value="">今天</option>
                                    <option value="">本周</option>
                                    <option value="">本月</option>
                                    <option value="">今年</option>
                                    <option value="">在过去30天</option>
                                    <option value="">在过去60天</option>
                                    <option value="">在过去90天</option>
                                    <option value="">再到现在</option>
                                </select>
                                <input type="text" value="2">
                                <select name="" id="" class="time">
                                    <option value="">天</option>
                                    <option value="">周</option>
                                    <option value="">月</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox5">
                        <label for="checkbox5">交易 </label>
                        <div class="ryb_facet" style="height:140px;">
                            <div class="List_bottom" style="margin-left:-3px;">
                                <select name="" id="" class="active">
                                    <option value="">在最近</option>
                                    <option value="">今天</option>
                                    <option value="">本周</option>
                                    <option value="">本月</option>
                                    <option value="">今年</option>
                                    <option value="">在过去30天</option>
                                    <option value="">在过去60天</option>
                                    <option value="">在过去90天</option>
                                    <option value="">再到现在</option>
                                </select>
                                <input type="text" value="2">
                                <select name="" id="" class="time">
                                    <option value="">天</option>
                                    <option value="">周</option>
                                    <option value="">月</option>
                                </select>
                            </div>
                            并且状态是<br>
                            <span class="radiobox">
                                <label for="radio1">
                                    <input name="Fruit" type="radio" id="radio1" value="" />已打开</label>
                            </span>
                            <span class="radiobox">
                                <label for="radio2"><input name="Fruit" type="radio" id="radio2" value="" />未打开 </label>
                            </span>
                            <span class="radiobox">
                                <label for="radio3"><input name="Fruit" id="radio3" type="radio" value="" />已退出 </label>
                            </span>
                            <span class="radiobox">
                                <label for="radio4"><input name="Fruit" id="radio4" type="radio" value="" />已打开并且回复
                                </label>
                            </span>
                            <span class="radiobox">
                                <label for="radio5"><input name="Fruit" id="radio5" type="radio" value="" checked />以上任意
                                </label>
                            </span>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox6">
                        <label for="checkbox6">交易 金额 </label>
                        <div class="ryb_facet" style="height:20px;">
                            <select name="" id="" style="width: 40px;">
                                <option value="">=</option>
                                <option value="">!=</option>
                                <option value="">
                                    <</option> <option value="">
                                        <=</option> <option value="">>
                                </option>
                                <option value="">>=</option>
                                <option value="">介于</option>
                                <option value="">不介于</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" style="border:1px solid #eee;width:50px;height:17px;padding:0px;">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox7">
                        <label for="checkbox7">交易 阶段 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox8">
                        <label for="checkbox8">交易所有者</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox9">
                        <label for="checkbox9">交易 预计成交日期 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox10">
                        <label for="checkbox10">
                            联系人
                        </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox11">
                        <label for="checkbox11">客户名称 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox12">
                        <label for="checkbox12">电话 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox13">
                        <label for="checkbox13">网站 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox14">
                        <label for="checkbox14">客户所有者 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox15">
                        <label for="checkbox15">SIC代码 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox16">
                        <label for="checkbox16">传真 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox17">
                        <label for="checkbox17">修改时间 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox18">
                        <label for="checkbox18">修改者 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox19">
                        <label for="checkbox19">公司所有权 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox20">
                        <label for="checkbox20">创建时间 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox21">
                        <label for="checkbox21">创建者 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox22">
                        <label for="checkbox22">发货地址-国家/地区</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox23">
                        <label for="checkbox23">发货地址-城市 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox24">
                        <label for="checkbox24">发货地址-省/市 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox25">
                        <label for="checkbox25">发货地址-街道 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox26">
                        <label for="checkbox26">发货地址-邮编 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox27">
                        <label for="checkbox27">员工数 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">客户所在地 </label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">客户类型</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">客户编号</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">年收入</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">开单地址-国家/地区</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">开单地址-城市</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">开单地址-省/市</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">开单地址-街道</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">开单地址-邮编</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">最近操作时间</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">标签</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">父客户</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">等级</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">股票代码</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox28">
                        <label for="checkbox28">行业</label>
                        <div class="ryb_facet">
                            <select name="" id="">
                                <option value="">是</option>
                                <option value="">不是</option>
                                <option value="">包含</option>
                                <option value="">不包含</option>
                                <option value="">开始字符</option>
                                <option value="">结束字符</option>
                                <option value="">为空</option>
                                <option value="">不为空</option>
                            </select>
                            <input type="text" placeholder="在这里输入">
                        </div>
                    </li>
                </ul>
                <div class="ryb_lv_filter_options">
                    <input type="button" value="应用过滤器">
                    <a href="javaScript:;" id="qingkong">清空</a>
                </div>
                <span class="xiaoshi"></span>
            </div>
            <div class="ryb_contentList2">
                <div class="ryb_tableHeaderBg">
                    <div class="tableHeaderBgLeft">
                        <input type="checkbox" id="quanxuan2">
                        <span class="cas">画布视图：</span>
                        <div class="casdiv">
                            Deals - 画布
                            <i></i>
                        </div>
                        <span class="bianjiryb">编辑</span>
                    </div>
                    <div class="tableHeaderBgRight">
                        <span class="panxu">排序按</span>
                        <i></i>
                        <span style="color:#ddd;"> |</span>
                        <input type="checkbox" id="shiying">
                        <label for="shiying">
                            适应屏幕
                        </label>
                    </div>
                </div>
                <div class="content">
                    <ul class="lingyigenei" id="tableContent">

                    </ul>
                </div>
                <div class="listviewBorder123">
                    <div class="alignleft">
                        共计：10
                    </div>
                    <div class="alignright">
                        <select name="" id="" style="margin-right:20px;">
                            <option value="">10页每页记录数</option>
                            <option value="">20页每页记录数</option>
                            <option value="">30页每页记录数</option>
                            <option value="">40页每页记录数</option>
                            <option value="">50页每页记录数</option>
                        </select>
                        <div class="fenyaqi">
                            <i class="leftjiantou"></i>
                            <span style="margin-left:15px;">1</span>
                            <span>到</span>
                            <span style="margin-right:16px;">10</span>
                            <i class="youjiantou"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ryb_contentList">
                <div class="ryb_tableHeaderBg">
                    <table>
                        <tr>
                            <td class="tableHeaderBg1">
                                <span></span>
                            </td>
                            <td class="tableHeaderBg2">
                                <input type="checkbox" id="quanxuan2">
                            </td>
                            <td class="tableHeaderBg4 active">
                                客户名称
                            </td>
                            <td class="tableHeaderBg5 active" style="text-align:right;">电话</td>
                            <td class="tableHeaderBg6 active">网址</td>
                            <td class="tableHeaderBg7 active">客户所有者</td>
                        </tr>
                    </table>
                    <table style="margin-top:2px;border-top:1px solid #eee;" class="tableContent" id="tableContent">
                    </table>
                </div>
                <div class="listviewBorder123">
                    <div class="alignleft">
                        共计：10
                    </div>
                    <div class="alignright">
                        <select name="" id="" style="margin-right:20px;">
                            <option value="">10页每页记录数</option>
                            <option value="">20页每页记录数</option>
                            <option value="">30页每页记录数</option>
                            <option value="">40页每页记录数</option>
                            <option value="">50页每页记录数</option>
                        </select>
                        <div class="fenyaqi">
                            <i class="leftjiantou"></i>
                            <span style="margin-left:15px;">1</span>
                            <span>到</span>
                            <span style="margin-right:16px;">10</span>
                            <i class="youjiantou"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js"></script>
<script id="test" type="text/html">
    {{if code==200}}
    {{each data}}
        <tr style="border-bottom:1px solid #eee; height:50px;">
            <td class="tableHeaderBg1">
                <!-- <span></span> -->
            </td>
            <td class="tableHeaderBg2">
                <input type="checkbox">
            </td>
            <td class="tableHeaderBg4 active" style="color:#2C7BD0;font-size:17px;">
                {{$value.kehuming}}
            </td>
            <td class="tableHeaderBg5 active" style="text-align:right;font-size:17px;color:rgb(17,17,17);">{{$value.dianhua}}</td>
            <td class="tableHeaderBg6 active">{{$value.wangzhi}}</td>
            <td class="tableHeaderBg7 active" style="font-size:17px;color:rgb(17,17,17);">{{$value.kehusuoyou}}</td>
        </tr>
    {{/each}}
    {{/if}}
</script>
<script id="test2" type="text/html">
    {{if code==200}}
    {{each data}}
    <li>
            <div class="contentLEft">
                <input type="checkbox">
                {{if $value.biaoji!=""}}
                <span class="DCE1"></span>
                    <span class="DCE2">
                        {{$value.biaoji}}
                        <i></i>
                    </span>
                {{/if}}
            </div>
            <div class="contentCEnter">
                <p class="zuiding">	n/a-{{$value.jiaoyiming}}</p>
                <p class="qici">{{$value.jiaoyiming}}</p>
                <ul style="margin-top:20px;">
                    <li>阶段</li>
                    <li>预计成交时间</li>
                    <li>交易所有者</li>
                    <li>最近操作时间</li>
                </ul>
                <ul class="neirong">
                    <li>{{$value.jieduan}}</li>
                    <li>{{$value.yujichengjiao}}</li>
                    <li>{{$value.kehusuoyou}}</li>
                    <li style="width:auto;">{{$value.caozuotime}}</li>
                </ul>
            </div>
            <div class="contentRIght">
                <span>￥{{$value.jine}}</span>
            </div>
        </li>
        {{/each}}
        {{/if}}
</script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script src="../js/customer.js"></script>
<script src="../js/rybCoommon.js"></script>
<script>
    $.ajax({
        type: "get",
        url: "../php/ryb.php",
        dataType: "json",
        success: function (data) {
            var html = template("test", data);
            var html2 = template("test2", data);
            $(".tableContent").html(html);
            $(".lingyigenei").html(html2);
            console.log(data);
        }
    });
</script>