<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="ryb_box">
        <div class="ryb_box_top_nav">
            <div class="ryb_top_nav_left">
                <span class="ryb_top_nav_left_one" id="rybNavOne">所有客户<i></i></span>
                <div class="ryb_floatL">
                    <span class="ryb_smalledit">编辑</span>
                    <span class='ryb_nav_img'></span>
                </div>
                <div class="ryb_boxShadowContain" id="rybBoxShadowContain">
                    <span class='ryb_boxShadowContain_top'>
                        分享给我的
                    </span>
                    <ul>
                        <a href="#">
                            <li><i></i>所有客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>我的客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>上周新建</li>
                        </a>
                        <a href="#">
                            <li><i></i>本周新建</li>
                        </a>
                        <a href="#">
                            <li><i></i>最近创建的客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>最近修改的客户</li>
                        </a>
                        <a href="#">
                            <li><i></i>未读的客户</li>
                        </a>
                    </ul>
                    <span class='ryb_boxShadowContain_bottom'>+新建视图</span>
                </div>
            </div>
            <div class="ryb_top_nav_right">
                <span class="rybTopNavRight_img1 img active"></span>
                <span class="rybTopNavRight_img2 img"></span>
                <span class="rybTopNavRight_img3 img"></span>
                <span class="rybTopNavRight_daoru" style="margin-left:20px;">
                    <button></button>
                    <input type="button" value="导入" class='newwhitebtn'>
                </span>
                <span class="rybTopNavRight_sandian" style="margin-left:20px;">
                    <a href="#"></a>
                </span>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../js/customer.js"></script>