<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="center_left">
        <div class="center_top">
            <span>文件夹</span>
            <a href="#">编辑</a>
        </div>
        <div class="soure">
            <span></span>
            <input type="text" placeholder="搜索文件夹">
        </div>
        <div class="list">
            <ul>
                <li><a href="#">全部报表</a></li>
                <li><a href="#">收藏报表</a></li>
                <li><a href="#">最近的报表</a></li>
                <li><a href="#">我创建的报表</a></li>
                <li><a href="#">计划报表</a></li>
                <li><a href="#">客户与联系人报表</a></li>
                <li><a href="#">交易报表</a></li>
                <li><a href="#">线索报表</a></li>
                <li><a href="#">任务、通话及活动报表</a></li>
                <li><a href="#">市场活动报表</a></li>
                <li><a href="#">服务支持与解决方案报表</a></li>
                <li><a href="#">预测报表</a></li>
                <li><a href="#">产品报表</a></li>
                <li><a href="#">供货商报表</a></li>
                <li><a href="#">报价报表</a></li>
                <li><a href="#">销售订单报表</a></li>
                <li><a href="#">采购订单报表</a></li>
                <li><a href="#">发货单报表</a></li>
                <li><a href="#">销售指标报表</a></li>
                <li><a href="#">邮件报表</a></li>
                <li><a href="#">Event Reports</a></li>
            </ul>
        </div>
        <div class="delect">
            <i></i>
            <span>最近删除的</span>
        </div>
    </div>
    <div class="center_right">
        <div class="right_top">
            <div class="qb_text">
                <h2>全部报表</h2>
                <div class="qb_ipt">
                    <i></i>
                    <input type="text" placeholder="Search全部报表">
                </div>
                <div class="fR">
                    <a href="#">创建报表</a>
                    <div class="text">
                        <span>高级CRM数据分析</span>
                        <p>由Zoho Reports提供支持</p>
                    </div>
                </div>
            </div>
            <div class="qb_delect">
                <button id="btn1">删除</button>
                <button id="btn2">移动到文件夹</button>
            </div>
        </div>
        <div class="right_bottom">
            <div class="b_head">
                <div><span>报表名称</span></div>
                <div><span>描述</span></div>
                <div><span>上一次运行日期</span></div>
            </div>
            <div class="b_body">
                <div id="one">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>销售人员的绩效报表</span>
                    </div>
                    <div class="bb_two">
                        <span>各销售人员或得的交易</span>
                    </div>
                    <div class="bb_three">
                        <span>6 Dec</span>
                    </div>
                </div>
                <div id="two">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>预测历史报表</span>
                    </div>
                    <div class="bb_two">
                        <span>预测的生命周期</span>
                    </div>
                    <div class="bb_three">
                        <span>6 Dec</span>
                    </div>
                </div>
                <div id="three">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>流行的解决方案</span>
                    </div>
                    <div class="bb_two">
                        <span>解决方案的评论数目</span>
                    </div>
                    <div class="bb_three">
                        <span>6 Dec</span>
                    </div>
                </div>
                <div id="four">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>所有交易类型的整体销售期</span>
                    </div>
                    <div class="bb_two">
                        <span>将各类型线索赢得为交易的平均天数</span>
                    </div>
                    <div class="bb_three">
                        <span>6 Dec</span>
                    </div>
                </div>
                <div id="five">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>销售订单 - 客户</span>
                    </div>
                    <div class="bb_two">
                        <span>不同客户的销售订单</span>
                    </div>
                    <div class="bb_three">
                        <span>5 Dec</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>Check-Ins for Leads</span>
                    </div>
                    <div class="bb_two">
                        <span>Get check-in details for each Lead</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>线索 - 状态</span>
                    </div>
                    <div class="bb_two">
                        <span>线索及其状态</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>发货单 - 状态</span>
                    </div>
                    <div class="bb_two">
                        <span>不同状态的发货单</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>所有线索来源的整体销售期</span>
                    </div>
                    <div class="bb_two">
                        <span>从各线索来源将线索赢得为交易的平均天数</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>阶段与交易类型的对照表</span>
                    </div>
                    <div class="bb_two">
                        <span>新旧业务的不同阶段的汇总	</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>今日呼叫</span>
                    </div>
                    <div class="bb_two">
                        <span>	</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>服务支持 - 评论</span>
                    </div>
                    <div class="bb_two">
                        <span>服务支持及其评价数</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>报价 - 客户</span>
                    </div>
                    <div class="bb_two">
                        <span>不同客户的报价</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>发货单 - 客户</span>
                    </div>
                    <div class="bb_two">
                        <span>不同客户的发货单</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>所有交易类型的销售周期持续时间</span>
                    </div>
                    <div class="bb_two">
                        <span>赢得各类型交易的平均天数</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>本月将会关闭交易</span>
                    </div>
                    <div class="bb_two">
                        <span>本月会关闭的交易</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>发送邮件状态</span>
                    </div>
                    <div class="bb_two">
                        <span>由用户发送到所有记录的邮件以及它们的状态</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>本日销售</span>
                    </div>
                    <div class="bb_two">
                        <span>本日发生的销售</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>任务和活动报表</span>
                    </div>
                    <div class="bb_two">
                        <span></span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>服务支持 - 优先级</span>
                    </div>
                    <div class="bb_two">
                        <span>不同优先级的服务支持</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>供货商 vs 采购订单</span>
                    </div>
                    <div class="bb_two">
                        <span>不同采购的供货商</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>采购订单 - 状态</span>
                    </div>
                    <div class="bb_two">
                        <span>不同状态的采购订单</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>跨线索来源的销售周期持续时间</span>
                    </div>
                    <div class="bb_two">
                        <span>赢得各线索来源交易的平均天数	</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>点击率前10模板</span>
                    </div>
                    <div class="bb_two">
                        <span>基于收件人点击的邮件百分比前10模板</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>销售 - 线索资源</span>
                    </div>
                    <div class="bb_two">
                        <span>从各种线索资源获得的销售</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>已转换的线索</span>
                    </div>
                    <div class="bb_two">
                        <span>线索转换到客户 / 交易 / 联系人。</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>线索 - 所有者</span>
                    </div>
                    <div class="bb_two">
                        <span>线索及其所有者</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>产品 - 支持终止日期</span>
                    </div>
                    <div class="bb_two">
                        <span>支持结束日期为本月的产品列表</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>退信报表</span>
                    </div>
                    <div class="bb_two">
                        <span>退信汇总，退信原因，退信日期，退信相关的记录等。</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>Call Status Report</span>
                    </div>
                    <div class="bb_two">
                        <span>Call Status based report</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>服务支持 - 优先级</span>
                    </div>
                    <div class="bb_two">
                        <span>不同优先级的服务支持</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>市场活动收入报表</span>
                    </div>
                    <div class="bb_two">
                        <span>显示来自该市场活动的收入	</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>交易所在类型</span>
                    </div>
                    <div class="bb_two">
                        <span>不同类型的交易</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>跨线索来源的销售周期持续时间</span>
                    </div>
                    <div class="bb_two">
                        <span>赢得各线索来源交易的平均天数	</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
                <div id="f1">
                    <div class="bb_one">
                        <input type="checkbox">
                        <i></i>
                        <span>联系人邮寄列表</span>
                    </div>
                    <div class="bb_two">
                        <span>联系人地址明细</span>
                    </div>
                    <div class="bb_three">
                        <span>-</span>
                    </div>
                </div>
            </div>
            <div class="template">
                <ul class="temple">
    
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/artTemplate.js/3.0.1/template.js"></script>
    <script src="../js/form.js"></script>
    <script type="text/html" id="test">
        {{if code == 200}}
        {{each data}}
            <li>
                <i></i>
                <span></span>
            </li>
            <li>
                <span></span>
            </li>
            <li>
                <span></span>
            </li>
        {{/each}}
        {{/if}}
        </script>
    <script>
       $(function () {
        $.ajax({
            url: "php/form.php",
            type: "POST",
            dataType: "json",
            data: {
                'action': 'image'
            },
            success: function (data) {
                console.log(data);
                var html = template("test", data);
                $(".temple").html(html);
                console.log($(".temple").html(html));
            }
        });
    });
    </script>
</body>
</html>